@page
@using Microsoft.Extensions.Localization
@using Snow.Hcm.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Snow.Hcm.Web.Pages.Departments.EditModalModel
@inject IStringLocalizer<HcmResource> L
@{
    Layout = null;
}
<form method="post" action="@Url.Page("/Departments/EditModal")">
    <abp-modal>
        <abp-modal-header title="@L["NewDepartment"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Department.Id" />
            <abp-input asp-for="Department.Name" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>