@page
@using Snow.Hcm.Localization;
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<HcmResource> L
@model Snow.Hcm.Web.Pages.Employees.WorkExperiences.CreateModalModel
@{
}
<form method="post" action="@Url.Page("/Employees/EmergencyContacts/CreateModal")">
    <abp-modal>
        <abp-modal-header title="@L["NewEmergencyContact"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="WorkExperience.EmployeeId" />
            <abp-input asp-for="WorkExperience.CompanyName" />
            <abp-input asp-for="WorkExperience.Post" />
            <abp-input asp-for="WorkExperience.WorkTime" />
            <abp-input asp-for="WorkExperience.Description" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>