@page
@using Microsoft.Extensions.Localization
@using Snow.Hcm.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<HcmResource> L
@model Snow.Hcm.Web.Pages.Positions.CreateModalModel
@{
    Layout = null;
}
<form method="post" action="@Url.Page("/Positions/CreateModal")">
    <abp-modal>
        <abp-modal-header title="@L["NewPosition"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Position.Name" />
            <abp-select asp-for="Position.DepartmentId" asp-items="Model.Departments" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>