.dropdown_container ul.ztree {
    overflow-y: scroll;
    overflow-x: auto;
    padding: 0 0;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    background-color: white;
    min-height: 200px;
}

.mts-container {
    position: relative;
}

.dropdown_container {
    margin-top: 1px;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 110004;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.searchInput {
    margin-top: 4px;
}

.dropdown_container .ztree::-webkit-scrollbar {
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.dropdown_container .ztree::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: #c1c1c1;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}

.dropdown_container .ztree::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.dropdown_container .clear {
    display: none;
    width: 16px;
    height: 16px;
    margin: 4px 0 0 -22px;
    outline: none;
    cursor: pointer;
}
