@page
@using Snow.Hcm.Localization;
@using Microsoft.Extensions.Localization
@model Snow.Hcm.Web.Pages.Employees.IndexModel
@inject IStringLocalizer<HcmResource> L
@section scripts
{
    <abp-script src="/Pages/Employees/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Employees"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="EmployeesTable"></abp-table>
    </abp-card-body>
</abp-card>